<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>DuDu - APP</title>
</head>
<body>
    <h1>DuDu 客户端</h1>
    <div class="p">
        <img src="../static/img/1-front.png" alt="">
        <img class="two" src="../static/img/1-back.png" alt="">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>