body{
    width: 100%;
    background: url(../img/app_back.jpg);
    overflow:hidden
}
h1{
    display: block;
    margin-top: 14%;
    margin-left: 15%;
    font-size: 60px;
    color: #fff;
}
.p{
    display: inline-block;
    margin-top: -17%;
    margin-left: 55%;
}
.two{
    margin-left: -120px;
}