/*导航栏样式*/
body{
    font-family: "BreeSerif","Source Han Sans CN","Source Serif"
}
@font-face{
    font-family: BreeSerif;
    src: url('../img/BreeSerif-Regular.ttf')
        ,url('../img/BreeSerif-Regular.ttf'); /* IE9+ */
}
#logo{
    color: #FF7C00;
    font-weight: bolder;
    font-size: 32px;
    line-height: 14px;
}
.navbar {
    margin-bottom: 0px; 
}
.form-group{
    width: 400px;
}
.navbar-form .form-control{
    width: 100%;
}
.up{
    background-color: #FF7C00;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; 
}
#d_color{
    color: #FF7C00;
    font-weight: bolder;
}
.game-icon{
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../img/game.png);
    background-position: center center;
    background-size: 18px 18px;
    vertical-align:middle;
}
.user-avatar{
    width: 32px;
    height: 32px;
    margin-top: -6px;
    margin-right: -10px;
}
/*用户信息*/
#user-info{
    display: none;
}
/*导航栏结束*/
.video-main{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}
#video{
    width: 1289px;
    height: 720px;
}
#info{
    width: 1289px;
    height: auto;
    
}
[class^="menu"]{
    width: 0px;
    height: 0px;
}
#title{
    padding-top: 20px;
    font-size: 22px;
    color: #000;
    font-weight: bolder;
}
#play-date{
    color: #606060;
    font-size: 18px;
    width: 800px;
    display: inline-block;

}
.ll{
    width: auto;
    font-size: 22px;
    float: right;
}
.ll p{
    display: inline-block;
}

.introduc{
    width: 100%;
    height: 110px;
    border-top: 1px solid #e0e0e0;
}
.introduc p{
    line-height: 26px;
    font-size: 16px;
    color: #000;
    padding-top: 20px;
    display: block;
    width: 700px;
}
/*评论*/
.comment{
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    font-size: 22px;
}
.comment p{
    display: inline-block;
    width: auto;
}
.public{
    width: 100%;
    height: auto;
    min-height: 80px;
}
.public #public-comm{
    width: 100%;
    border: none;
    border-bottom: 2px solid #777;
    outline:none;
    -webkit-transition: all 0.3s; 
    -moz-transition:    all 0.3s; 
    -ms-transition:     all 0.3s; 
    -o-transition:      all 0.3s; 
    transition:         all 0.3s; 
}
.public #public-comm:hover{
    border-bottom: 2px solid #000;
}
.comm-but{
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    width: 88px;
    height: 42px;
    background-color: #FF7C00;
    float: right;
}
.user-comm{
    margin-top: 30px;
    min-height: 120px;
    width: 100%;
}
.comm-tx{
    float: left;
}
.user-comm img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.user-comm-main{
    padding-left: 60px;
    border-bottom: 2px solid rgb(228, 228, 228);
}
#comm-user-name{
    font-size: 16px;
    font-weight: bolder;
}
#comm-last-time{
    padding-left: 5px;
    color: rgb(110, 110, 110);
    font-size: 16px;
    font-weight: lighter;
}
#comm-user-text{
    display: block;
    color: #222;
    font-size: 17px;
    font-weight: lighter;
    
}