/*导航栏样式*/
body{
    font-family: "BreeSerif","Source Han Sans CN","Source Serif"
}
@font-face{
    font-family: BreeSerif;
    src: url('../img/BreeSerif-Regular.ttf')
        ,url('../img/BreeSerif-Regular.ttf'); /* IE9+ */
}
#logo{
    color: #FF7C00;
    font-weight: bolder;
    font-size: 32px;
    line-height: 14px;
}
.navbar {
    margin-bottom: 0px; 
}
.form-group{
    width: 400px;
}
.navbar-form .form-control{
    width: 100%;
}
.up{
    background-color: #FF7C00;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; 
}
#d_color{
    color: #FF7C00;
    font-weight: bolder;
}
.game-icon{
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../img/game.png);
    background-position: center center;
    background-size: 18px 18px;
    vertical-align:middle;
}
.user-avatar{
    width: 32px;
    height: 32px;
    margin-top: -6px;
    margin-right: -10px;
}
/*用户信息*/
#user-info{
    display: none;
}
/*导航栏结束*/
.video-main{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}
#video{
    width: 1289px;
    height: 720px;
}
#info{
    width: 1289px;
    height: 90px;
}
[class^="menu"]{
    width: 0px;
    height: 0px;
}
#title{
    padding-top: 20px;
    font-size: 22px;
    color: #000;
    font-weight: bolder;
}
#play-date{
    color: #606060;
    font-size: 18px;
    width: 800px;
    display: inline-block;
}
.ll{
    width: 12%;
    
    float: right;
}
#like{
    float: left;
    
    font-size: 22px;
    
}
#unlike{
    float: right;
    
    font-size: 22px;
    
}