/*导航栏样式*/
body{
    font-family: "BreeSerif","Source Han Sans CN","Source Serif"
}
@font-face{
    font-family: BreeSerif;
    src: url('../img/BreeSerif-Regular.ttf')
        ,url('../img/BreeSerif-Regular.ttf'); /* IE9+ */
}

#logo{
    color: #FF7C00;
    font-weight: bolder;
    font-size: 32px;
    line-height: 14px;
}
.navbar {
    margin-bottom: 0px; 
}
.form-group{
    width: 400px;
}
.navbar-form .form-control{
    width: 100%;
}
.up{
    background-color: #FF7C00;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; 
}
#d_color{
    color: #FF7C00;
    font-weight: bolder;
}
.game-icon{
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../img/game.png);
    background-position: center center;
    background-size: 18px 18px;
    vertical-align:middle;
}
.user-avatar{
    width: 32px;
    height: 32px;
    margin-top: -6px;
    margin-right: -10px;
}
/*用户信息*/
#user-info{
    display: none;
}
/*导航栏结束*/

/*导航条开始*/
#mo-in{
    border:0 solid #FF7C00;
    border-bottom: 2px solid #FF7C00;
    background-color: #fff;
    color: #FF7C00;
}
#sum{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    background-color: #FF7C00;
    position: absolute;
    top: -7px;
    left: 76px;
    padding: 3px;
    line-height: 13px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
}
.nav-my{
    width: 100%;
    text-align: center;
    display: block;
    margin:  0 auto;
}
.nav-tab{
    width: 1160px;
    border-bottom: 1px solid #ddd;
    margin:  0 auto;
    padding: 0;
}
.nav-tab li{
    display: inline-block;
    font-size: 17px;
    margin: 10px;
}
.nav-tab li a{
    position: relative;
    color: #000;
    font-weight: bolder;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    text-decoration:none;
}
.nav-tab li a:hover{
    border:0 solid #FF7C00;
    border-bottom: 2px solid #FF7C00;
    background-color: #fff;
    color: #FF7C00;
}
/*导航条结束*/

/*首页视频主内容*/
.main{
    width: 1903px;
    height: 2000px;
    background-color: #f8f8f8;
}
.main-center{
    width: 90%;
    height: 2000px;
    margin: 0 auto;
    
}
.main-head{
    padding-top: 30px;
    width: 1578px;
    margin: 0 auto;
}
/*轮播图*/
#main-left{
    width: 700px;
    height: 370px;
}
#myCarousel{
    width: 700px;
    height: 370px;
    display: inline-block;
}
#item-img{
    width: 700px;
    height: 370px;
}
.carousel-indicators li{
    border: 2px solid #fff;
    width: 12px;
    height: 12px;
}
.carousel-indicators .active {
    background-color:#FF7C00;
    width: 28px;
    height: 14px;
    margin: 0;
}

.hiSlider-btn-prev {
    background: url(../img/左.png) no-repeat;
}
.hiSlider-btn-next {
    background: url(../img/右.png) no-repeat;
}
/*右侧视频推荐*/
.main-right{
    display: inline-block;
    width: 875px;
    height: 400px;
    vertical-align: top;
}
.pr-video{
    vertical-align: top;
    position: relative;
    width: 205px;
    height: 115px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 12px;
    background-color: rgb(183, 184, 184);
    border-radius: 4px;
}
.pr-video>p{
    position: absolute;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    top: 70px;
    left: 10px;
    opacity: 1; 
    z-index: 999;
}
.pr-video>img{
    width: 205px;
    height: 115px;
}
.mask{
    position: absolute;
    background-color: rgba(000, 000, 000, 0.4);
    opacity: 0;
    top: 0;
    left: 0;
    width: 205px;
    height: 115px;
    border-radius: 4px;
    -webkit-transition: all 0.3s; 
    -moz-transition:    all 0.3s; 
    -ms-transition:     all 0.3s; 
    -o-transition:      all 0.3s; 
    transition:         all 0.3s; 
}
.mask p{
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
}
.pr-video a:hover .mask{
    opacity: 1;  
}
.pr-video:hover>p{
    opacity: 0; 
}
#mask-title{
    top: 20px;
    left: 10px;
}
#mask-up{
    top:65px;
    left: 10px;
}
#mask-click{
    top: 88px;
    left: 10px;
}

/*分区*/
.area{
    padding-bottom: 30px;
    width: 1578px;
    margin: 0 auto;
    
}
.area-head{
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}
.area-title{
    color: #FF7C00;
    font-size: 32px;
    font-weight: bolder;
    position: relative;
    top: 20px;
    left: 20px;
}
.area-left{
    width: 1100px;
    height: 250px;
    display: inline-block;
}
.area-right{
    width: 470px;
    height: 250px;
    float: right;
}

/*分区视频*/
.area-one{
    width: 205px;
    height: 115px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 10px;
    margin-bottom: 70px;
    border-radius: 4px;
    background-color: rgb(183, 184, 184);
}
.area-video{
    font-weight: lighter;
    width: 205px;
    height: 115px;
    display: inline-block;
    background-color: rgb(183, 184, 184);
    border-radius: 4px;
    
}
.area-video .yinying{
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0px -27px 21px rgba(000, 000, 000,0.4) inset;
}
.area-video>p{
    position: absolute;
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    top: 90px;
    left: 10px;
    opacity: 1; 
    z-index: 999;
}
.area-video>img{
    width: 205px;
    height: 115px;
    border-radius: 4px;
}
.area-mask{
    position: absolute;
    background-color: rgba(000, 000, 000, 0.4);
    opacity: 0;
    top: 0;
    left: 0;
    width: 205px;
    height: 115px;
    border-radius: 4px;
    -webkit-transition: all 0.3s; 
    -moz-transition:    all 0.3s; 
    -ms-transition:     all 0.3s; 
    -o-transition:      all 0.3s; 
    transition:         all 0.3s; 
    
}

.area-mask p{
    color: #fff;
    position: absolute;
    top: 65px;
    left: 160px;
    font-weight: bolder;
    font-size: 28px;
}
.mask-time{
    color: #fff;
    
    margin-left:75px;   
}
.area-video a:hover .area-mask{
    opacity: 1;  
}
.area-video:hover>p{
    opacity: 0; 
}
.video-title {
    padding-top: 5px;
    color: #000;
    width: 100%;
    height: 65px;
    
}